<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ArticleDao">
	
	
	<select id="selectAll" resultType="Article">
		select * 
		from article;
	</select>
	
	<select id="selectOne" parameterType="int" resultType="Article">
		select *
		from article 
		where aricleId = #{articleId};
	</select>
	
	<insert id="insertArticle" parameterType="Article">
		insert into (userId, title, content, image)
		values(#{userId}, #{title}, #{content}, #{image});
	</insert>
	
	<update id="updateArticle" parameterType="Article">
		update article
		set title = #{title}, content = #{content} 
		where articleId = #{articleId};
	</update>
	
	<delete id="deleteArticle" parameterType="int">
		delete from article
		where articleId = #{articleId};
	</delete>
	
	<update id="updateLike" parameterType="int">
		update article
		set liked = #{liked}
		where articleId = #{articleId};
	</update>
	
	<update id="updateCheck" parameterType="int">
		update article
		set isChecked = #{isChecked}
		where articleId = #{articleId};
	</update>
</mapper>