<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ArticleCommentDao">
	
	<select id="selectList" parameterType="int" resultType="ArticleComment">
		select * 
		from articleComment 
		where articleId = #{articleId};
	</select>
	
	<select id="selectOne" parameterType="int">
		select *
		from articleComment
		where commentId = #{commentId};
	</select>
	
	<insert id="insertComment" parameterType="ArticleComment">
		insert into articleComment(articleId, userId, writer, content)
		values(#{articleId}, #{userId}, #{writer} ,#{content})
	</insert>
	
	<update id="updateComment" parameterType="ArticleComment">
		update articleComment 
		set content = #{content}
		where commentId = #{commentId}
	</update>
	
	<delete id="deleteComment" parameterType="int">
		delete from articleComment
		where commentId = #{commentId}
	</delete>
</mapper>