<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ExerciseDao">
	
	<select id="selectAll" resultType="Exercise">
	select * from exercise;
	</select>
	
	<select id="selectOne" resultType="Exercise" parameterType="int">
	select *
	from exercise
	where exerciseId = #{exerciseId};
	</select>

	
	<insert id="insert" parameterType="Exercise">
	insert into exercise (exerciseId, userId, title, img, exeTime) 
	values (#{exerciseId}, #{userId}, #{title}, #{img}, #{exeTime});
	</insert>
	
	<update id="updateExercise" parameterType="Exercise">
	update exercise
	set img = #{img} , title = #{title}
	where exerciseId = #{exerciseId}
	</update>
	
	<delete id="deleteExercise" parameterType="int">
	delete from exercise 
	where exerciseId = #{exerciseId}
	</delete>
	
</mapper>