<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.HeartDao">
	
	<select id="selectHeart" parameterType="Heart">
		select * 
		from heart
		where userId = #{userId} and articleId = #{articleId};
	</select>	
		
	<insert id="insertHeart" parameterType="Heart">
		insert into heart(userId, articleId)
		values(#{userId}, #{articleId});
	</insert>

	
	<delete id="deleteHeart" parameterType="Heart">
		delete from heart
		where userId = #{userId} and articleId = #{articleId};
	</delete>


</mapper>