<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ReviewDao">
	
	<select id="selectAllList" resultType="Review">
	select * from review;
	</select>
	
	<select id="selectAll" resultType="Review" parameterType="String">
	select *
	from review
	where videoId = #{videoId};
	</select>
	
	<select id="selectReview" resultType="Review" parameterType="int">
	select * 
	from review 
	where reviewId = #{reviewId};
	</select>
	
	<insert id="insertReview" parameterType="Review">
	insert into review (videoId, userId, title, writer, content) 
	values (#{videoId}, #{userId}, #{title}, #{writer}, #{content});
	</insert>
	
	<update id="updateReview" parameterType="Review">
	update review
	set content = #{content} 
	where reviewId = #{reviewId}
	</update>
	
	<delete id="deleteReview" parameterType="int">
	delete from review 
	where reviewId = #{id}
	</delete>
	
	<update id="updateViewCnt" parameterType="map">
	update review
	set viewCnt = #{viewCnt} +1
	where reviewId = #{id}
	</update>
</mapper>