<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.VideoDao">
	<select id="selectAll" resultType="Video">
	select * 
	from video
	limit 3;
	</select>
	
	<select id="selectByType" resultType="Video" parameterType="string">
	select * 
	from video
	where type = #{type}; 
	</select>
	
	<select id="selectVideo" resultType="Video">
	select * 
	from video 
	order by viewCnt desc 
	limit 1; 
	</select>
	
	<update id="updateViewCnt" parameterType="map">
	update video
	set viewCnt = #{viewCnt} + 1
	where videoId = #{videoId}
	</update>
	
	<select id="selectOne" parameterType="String" resultType="Video">
		select *
		from video
		where videoId = #{videoId}
	</select>
	
	<insert id="insertVideo" parameterType="Video">
		insert into video(videoId, userId, title, type, channelName, url)
		values(#{videoId}, #{userId}, #{title}, #{type}, #{channelName}, #{url});
	</insert>
	
	<update id="updateVideo" parameterType="Video">
		update video
		set title = #{title}, url = #{url}
		where videoId = #{videoId}
	</update>
	
	<delete id="deleteVideo" parameterType="String">
		delete from video
		where videoId = #{videoId}
	</delete>
	
</mapper>